
<mat-grid-list cols="2" rowHeight="1:1" gutterSize="10px">
    <mat-grid-tile>
        <mat-card  class="box1">
            <mat-card-content >
                <h3>List</h3>
            </mat-card-content>
          </mat-card>          
    </mat-grid-tile>
    <mat-grid-tile >
        <mat-card class="box1">
            <mat-card-content >
                <h3>Form</h3>
                
                 <form class="example-form">
                    <p>
                    <label class="label">Title</label> 
                    <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="">
                    </mat-form-field>
                     </p>

                     <p>
                        <label class="label">Brief</label> 
                        <mat-form-field class="example-full-width">
                        <mat-label>brief</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="">
                        </mat-form-field>
                    </p>
                    <p>
                    <label class="label">Description</label> 
                    <mat-form-field class="example-full-width">
                      <mat-label>Leave a comment</mat-label>
                      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                    </mat-form-field>
                    </p>
                  </form>
                  <button mat-raised-button color="warn">Add</button>
            </mat-card-content>
          </mat-card>
          
    </mat-grid-tile>

  </mat-grid-list>
  