<div class="section">
    <div class="backgrounde">

        <div  class="content">
            <p>"I sell ice in the winter, I sell fire in hell, I am a hustler bae, I'll sell water to a whale!"<br><br>

                Hi! I am Aryaman, <br> Computer Science undergrad at BIT MESRA with a passion for programming and problem-solving.
                Fresher ,looking for opportunity to shine.<br>I know various programming languages and have worked with different frameworks and api.</p>
        </div>

        <div class="name">ARYAMAN RAJ <br><span>Programmer</span></div>

        <div data-aos="fade-right"class="imag">
            <img class="pfp" src="assets\About\pfp.png" alt="pfp">
        </div>

        <div class="education">
            <div class="head"><p class="insidetext">EDUCATION</p></div>
            <div class="container text">
                <div class="row">
                  <div class="col">
                    <p class="year">2021-2025</p> 
                  </div>
                  <div class="col">
                    <p class="school">Birla Institute of Technology - Mesra <br>CGPA : 8.7</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                     <p class="year">2019-2021</p> 
                    </div>
                    <div class="col ">
                      <p class="school">Loyola High School <br>Percentage : 90.6%</p>
                    </div>
                  </div>
              </div>
        </div>

        <div  class="achievements">
            <h2 class="head acchihead"> <p class="insidetext achi">ACHIEVEMENTS</p> </h2>
            <ul class="list">
                <li> <span class="yearli">2023</span> Secured 1619th Rank in Codejam Round A, with a score of 71 pts</li>
                <li> <span class="yearli">2023</span> 4 Star Coder on Codechef</li>
                <li> <span class="yearli">2023</span> Pupil on Codeforces</li>
                <li> <span class="yearli">2022</span> Qualified by Securing 62th rank among 300 teams in Codolympics prelims</li>
                <!-- <li> <span class="yearli">2023</span> Secured 1st Rank in Keyboard Ninja, hosted by Nit Silchar</li> -->

                <li> <span class="yearli">2022</span> Secured 1536th rank in ICPC 2022</li>
                <li> <span class="yearli">2021</span> Qualified Codejam in first year of college (31 pts)</li>
            </ul>
        </div>
    </div>















    <div data-aos="zoom-in-up" data-aos-duration="1000"  class="lowpanel">
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <a href="https://www.linkedin.com/in/aryamanrajxd/" target="_blank"><button ><img class="btnimg" src="assets\About\linkedin.png" alt=""> </button></a> 
              </div>
              <div class="col">
               <a href="https://github.com/Salty-Bear" target="_blank"><button><img class="btnimg" src="assets\About\github.png" alt=""></button></a> 
              </div>
              <div class="col">
               <a href="https://www.youtube.com/channel/UCtTG5kpYCM5N9J24x8DOdaA" target="_blank"> <button><img class="btnimg" src="assets\About\youtube.png"></button></a>
              </div>
              <div class="col">
                <a href="https://www.instagram.com/salty_bear_xd/" target="_blank"> <button><img class="btnimg" src="assets\About\instagram.png"></button></a>
              </div>
            </div>
          </div>
        
        
        
        
    </div>
</div>