<div class="section">
    <div class="topi">
        <h1 data-aos="zoom-in-up" class="head top"> <span class="colred">Pro</span>jects</h1>
    </div>
    <hr>
    <div class="container text-center">
        <div data-aos="fade-up" data-aos-duration="1000" class="row">
          <div class="col">
            <div  class="card" style="width: 18rem;">
                <img src="assets\Mywork\flora.gif" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Project-Flora</h5>
                  <p class="card-text">Flora is a social media platform with a distinctive idea to make friends. </p>
                  <a href="https://github.com/Salty-Bear/project-Flora" target="_blank" class="btn btn-primary">Read Code</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets\Mywork\instagramapi.gif"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Instagram Api</h5>
                  <p class="card-text">retrieves  account information from
                    Instagram profiles, including follower count,pfp etc.</p>
                  <a href="https://github.com/Salty-Bear/Instagram-api" target="_blank" class="btn btn-primary">Read Code</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets\Mywork\saltybearbot.gif" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Salty Bear Bot</h5>
                  <p class="card-text">A discord bot that fetches Quotation from Api and uploads it on user request</p>
                  <a href="https://github.com/Salty-Bear/Salty_bear_bot" target="_blank" class="btn btn-primary">Read Code</a>
                </div>
              </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" class="row">
            <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets\Mywork\illuminatibot.gif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Illuminati Bot</h5>
                    <p class="card-text">A Discord bot that tells you about upcoming contest and performs moderation commands</p>
                    <a href="https://github.com/Salty-Bear/Illiminati-discord-bot"  target="_blank" class="btn btn-primary">Read Code</a>
                </div>
                </div>
            </div>
            <div class="col">
            
            </div>
            <div class="col">
            
            </div>
        </div>


        <h1 data-aos="fade-up" class="head">Open Source Contributions</h1>
        <div data-aos="fade-up" data-aos-duration="1000" class="container text-center">
        <div  class="row">
            <div    class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets\Mywork\forge.gif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Forked: Forge</h5>
                    <p class="card-text">Fixed refresh data bug and no sidebar preview on mobile</p>
                    <a href="https://github.com/Salty-Bear/Forge" target="_blank" class="btn btn-primary">Read Code</a>
                </div>
                </div>
            </div>
            <div class="col">
            
            </div>
            <div class="col">
            
            </div>
        </div>
      </div>
        </div>
</div>
