<div class="section">
    <div class="heading">
        <h2><span class="firstletter">S</span>kills</h2>
    </div>

    <div class="pbars">
        <label class="lebel" for="progress">C++</label>
        <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" style="width: 90%">90%</div>
          </div>
          <label class="lebel" for="">Java</label>
          <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" style="width: 80%">80%</div>
          </div>
          <label class="lebel" for="">Python</label>
          <div class="progress" role="progressbar" aria-label="Info striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" style="width: 60%">60%</div>
          </div>
          <label class="lebel" for="">Front-end Development</label>
          <div class="progress" role="progressbar" aria-label="Warning striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" style="width: 90%">90%</div>
          </div>
          <label class="lebel" for="">Back-end Development</label>
          <div class="progress" role="progressbar" aria-label="Danger striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" style="width: 70%">70%</div>
          </div>
    </div>
    <br>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <p class="headi">Stats</p>
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <img class="logo" src="assets\myskills\cflogo.png" alt="Codeforces">
                  </div>
                  <div class="col">
                    <div class="item1 cfrank">
                      <p>PUPIL</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                      <img class="logo" src="assets\myskills\cclogo.png" alt="Codeforces">
                    </div>
                    <div class="col">
                    <p class="item1 ccrank">4 STAR</p>
                    </div>
                  </div>
                  
              </div>
          </div>
          <div class="col">
            <p class="headi">Certification</p>
            <button class="btn btn-light">Google Farewell Round A</button>
            <br>
            <button class="btn btn-light">ICPC Kanpur Region</button>
          </div>
        </div>
      </div>
</div>