.section{
    position: absolute;
    top: 1%;
    left: 11%;
    width: 88%;
    height: 95%;
    border-radius: 2%;
    align-self: center;
    background-color: #EEEEEE;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-y:scroll;
}

.topi{
    background-color: black;
  }
  .top{
    color: white;
  }


  .head{
    text-align: center;
    font-family: Metal Mania;
    font-variant: small-caps;
}

.soon{
    text-align: center;
    position: absolute;
    top:50%;
    left: 43%;
    font-size: xx-large;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}