<div class="section" >
<div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

    <div data-aos="zoom-out-up" data-aos-duration="1000" class="intro">
        <h1 >HI,</h1>
        <h1  class="name">I'm &nbsp; <a class="myname"></a></h1>
        <div class="dynamicrole">
            <li>Web Developer</li>
            <li>Explorer</li>
            <li>Bot Developer</li>
            <li>Competitive Coder</li>
        </div>
    </div>
    <div data-aos="fade-left" data-aos-duration="1000"  class="art">
        <div class="bg"></div>
        <div class="head">
            <div class="lefteye">
                <div class="cutout"></div>
            </div>
            <div class="righteye">
                <div class="cutout"></div>
            </div>
            <div class="mouth">
            </div>
        </div>
        <div class="kapda">
        </div>
    </div>
</div>